
<div class="row">
  <div class="well">
    <h1>Ask Your Developer!</h1>
  </div>
  <div class="well">
    <div class="">
        <h1>Displaying Questions</h1>
        {{new-question saveQuestion2="saveQuestion3"}}
        {{#each model.questions as |question|}}
        <div class="well">
          <h4>Name: {{question.name}}</h4>
          <h4>Content: {{question.content}}</h4>
          <h4>Rating: {{question.rating}}</h4>
          {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
        </div>
        {{/each}}



    </div>
    <div class="">
      <h1>Answers</h1>
      {{new-answer saveAnswer2="saveAnswer3"}}
      <ul>
      {{#each model.answers as |answer|}}
        <li>{{answer.rating}} - {{answer.content}} - by {{answer.name}}</li>
      {{/each}}
      </ul>

      {{new-answer saveAnswer="saveAnswer"}}
    </div>
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Click here to contact us.{{/link-to}}
  </div>
</div>
