
<div class="well">
  <h2>{{model.title}}</h2>
  <p>{{model.content}}</p>
  {{update-question question=model update="update"}}
</div>

<div class="well">
  {{question-detail question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}

  {{new-answer saveAnswer="saveAnswer" question=model}}

</div>
