
<div class="well">
  <h4>Name: {{model.name}}</h4>
  <h4>Content: {{model.content}}</h4>
  {{update-question question=model update="update"}}
</div>

<div class="well">
  {{question-detail question=model destroyQuestion="destroyQuestion"}}

  {{new-answer saveAnswer="saveAnswer" question=model}}

</div>
